<footer>
    <div class="about">
        <h2>About Us</h2>
        <p>@Copyrights GoEasy.com Pvt Ltd
            Student & Youth Service Platform
            Team GoEasy.com Standard Service
            Platform.
            
        </p>
    </div>
    <div class="Pages">
        <h2>Pages</h2>
        <ul>
            <li> <a href="/dashboard">Dashboard</a></li>
            <li> <a href="/dashboard/splitbill">Split Bill</a> </li>
            
            <li><a href="/change-password"">Change Password </a></li>
            <li><a href="/contact"> Help </a></li>
        </ul>
    </div>
    <div class="connect">
        <h2>Connect</h2>
        <a href=""><i class="fab fa-facebook"></i></a>
        <a href=""><i class="fab fa-twitter-square"></i></a>
        <a href=""><i class="fab fa-linkedin"></i></a>
    </div>
</footer>