<%-include('./partials/defaults')-%>
    <title>Contact Us</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/solid.css" integrity="sha384-LA8Ug4T/nhVkyhrSmSirsoAo9iDrBk8E7U80aSPeD+w3vO8PzOJIS6agGcbIwwX0" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/fontawesome.css" integrity="sha384-wESLQ85D6gbsF459vf1CiZ2+rr+CsxRY0RpiF1tLlQpDnAgg6rwdsUF1+Ics2bni" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link rel="stylesheet" href="contact.css">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <img src="horizontal_on_white_by_logaster (1).png" alt="">
                <button onclick="cli(this)"><i class="fas fa-bars"></i></button>
            </div>
            <div class="menu">
                <ul>
                    <li><a href="/"><i class="fas fa-home"></i></i>Home</a></li>
                    <li><a href="/contact"><i class="fas fa-phone"></i>Contact Us</a></li>
                    <li><a href="/"><i class="fas fa-wallet"></i>Wallet</a></li>
                    <li><a href="/signin"><i class="fas fa-sign-in-alt"></i>Login/Signup</a></li>
                </ul>
    
            </div>
        </nav>
    </header>
    <main>
        <section id="contact">
            <h1 class="section-heading mb50px">
                <span>
                    <i class="far fa-address-card"></i>
                </span>
                <span> Contact </span>
            </h1>
            <div id="contact-container">

                <div id="contact-form-container">
                    <form id="contact-form" method="POST" action="/contact">
                        <input id="input-name" name="name" type="text" placeholder="Your Name">
                        <input id="input-email" name="input-email" type="text" required placeholder="Your Email">
                        <textarea id="input-message" name="input-message" rows="2" cols=40 placeholder="Message"></textarea>
                        <button class="sub-btn" type="submit">SEND MESSAGE</button>
                    </form>
                </div>
                <div id="my-details-container">

                    <h3> Get In touch </h3>
                    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum beatae, enim quia incidunt quo atque eaque natus voluptatum cum asperiores doloribus, molestias praesentium voluptas molestiae sequi accusamus. Excepturi, id dolore.</p>

                    <h3> My Address </h3>
                    <div class="my-details-info-container">
                        <i class="fas fa-map-marker-alt"></i>
                        <span>Delhi, India</span>
                    </div>
                    <div class="my-details-info-container">
                        <i class="fas fa-mobile-alt"></i>
                        <span>9310099053</span>
                    </div>
                    <div class="my-details-info-container">
                        <i class="far fa-envelope"></i>
                        <span>easyBills@gmail.com</span>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <%-include('./partials/footer')-%>
    <script src="index.js"></script>
</body>
</html>