<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/solid.css"
    integrity="sha384-LA8Ug4T/nhVkyhrSmSirsoAo9iDrBk8E7U80aSPeD+w3vO8PzOJIS6agGcbIwwX0" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/fontawesome.css"
    integrity="sha384-wESLQ85D6gbsF459vf1CiZ2+rr+CsxRY0RpiF1tLlQpDnAgg6rwdsUF1+Ics2bni" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
    integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="hearder.css">
  <link rel="stylesheet" href="index.css">
  <link rel="stylesheet" href="link.txt">
  <title>EasyBill || Home</title>
</head>

<body>

  <header>
    <nav>
      <div class="logo">
        <img src="horizontal_on_white_by_logaster (1).png" alt="">
        <button onclick="cli(this)"><i class="fas fa-bars"></i></button>
      </div>
      <div class="menu">
        <ul>
          <li><a href="/"><i class="fas fa-home"></i>Home</a></li>
          <li><a href="/contact"><i class="fas fa-phone"></i>Contact Us</a></li>
          <li><a href="/"><i class="fas fa-wallet"></i>Wallet</a></li>
          <li><a href="/signin"><i class="fas fa-sign-in-alt"></i>Login/Signup</a></li>
        </ul>

      </div>
    </nav>

  </header>


  <main>
    <div class="main-part">
      <section class="main-heading">
        <img src="Money transfer _Isometric.svg" alt="">
        <div class="button-main">
          <h1>Hola!! <span> Everyone </span><br>I am glad you land <span> here!! </span> </h1>
          <div class="heading-button">
            <button type="button" class="join-now">Join Now</button><button type="button" class="explore-more">Explore
              More</button>
          </div>
        </div>
      </section>
    </div>
    <section class="why-us">
      <div class="why-us-heading">
        <img src="pexels-nataliya-vaitkevich-6863514.jpg" alt="">
        <div class="why-us-head">
          <h1>Why <span>Us?</span></h1>
        </div>
      </div>
      <div class="securities">
        <div class="sec-head-data">
          <h2>Securities ?</h2>
          <p>Not only do we split bills for your group but also provide you secure payment.
            Yes, you read it right! 
            Your privacy is our privacy.
            Pay directly through your bank account.
            So now no more quarrels among your group, payment for your share made Easy and Secure.
          </p>
        </div>
        <img src="Secure.svg" alt="">
      </div>
      <div class="facilities">
        <img src="603dd4111a1e10f76252054c_Frame-1-(1).png" alt="">
        <div class="fac-head-data">
          <h2>Facilities ?</h2>
          <p>Sign up to create an account on Easy Bills.
            Select the restaurant you wish to book a table for providing the no. of members after providing your estimated budget.
            Select the restaurant and your table no.
            Send requests to your friends and split the bill easily by choosing your mode of payment.
            
            
          </p>
        </div>
      </div>
      <div class="benefits">
        <div class="ben-head-data">
          <h2>Benefits ?</h2>
          <p>Confused to find a place according to your budget, no worries, EasyBills got you covered. Now, search restaurants according to your group as well as your budget so you don’t get overboard.
            Security is taken seriously here.
            Not only providing you platform to pay by card or UPI but also cash at the destination according to your convenience.
            
            
          </p>
        </div>
        <img src="chatting-using-apps.png" alt="">
      </div>
      
    </section>


    <section class="go-beyond">
      <div class="go-tag-line">
        <h1>Go Beyound !!<br> &nbsp; &nbsp;Be Limitless.</h1>
      </div>
      <div class="go-button">
        <button type="button" class="go-button-contact">Learn More</button>
        <button type="button" class="go-button-learn">Contact Us</button>
      </div>
    </section>

  </main>
  <footer>
    <div class="about">
        <h2>About Us</h2>
        <p>@Copyrights GoEasy.com Pvt Ltd
            Student & Youth Service Platform
            Team GoEasy.com Standard Service
            Platform.
            
        </p>
    </div>
    <div class="Pages">
        <h2>Pages</h2>
        <ul>
            <li> <a href="">Dashboard</a></li>
            <li> <a href="">Split Bill</a> </li>
            
            <li><a href="">Change Password </a></li>
            <li><a href=""> Help </a></li>
        </ul>
    </div>
    <div class="connect">
        <h2>Connect</h2>
        <a href=""><i class="fab fa-facebook"></i></a>
        <a href=""><i class="fab fa-twitter-square"></i></a>
        <a href=""><i class="fab fa-linkedin"></i></a>
    </div>
</footer>
  <div class="main">
  </div>
  <script src="header.js"></script>
</body>

</html>