@keyframes fadeIn {
    0% {
        opacity: 0;
      }
    
      100% {
        opacity: 1;
      }
}
@keyframes tadaa{
    from {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  
    10%,
    20% {
      -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
      transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    }
  
    30%,
    50%,
    70%,
    90% {
      -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
      transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }
  
    40%,
    60%,
    80% {
      -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
      transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }
  
    to {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }

body{
    margin: 0px;
    max-width: 100%;
}

/*Animation*/


.notification-icon {
    width: 3.5rem;
    position: -webkit-sticky;
    position: sticky;
    top: 90vh;
    left: 92%;
    z-index: 20;
    background:rgb(0, 162, 255);
    padding: 10px;
    /* border: 1px solid rgb(0, 162, 255); */
    border-radius: 50px;
}

.notification-menu{
    margin-top: 8rem;
    margin-left: 35rem;
    position: absolute;
    top: -100vh;
    display: flex;
    width: 30rem;
    height: 35rem;
    /* border: 1px solid blue; */
    flex-direction: column;
    background: rgb(0, 0, 0);
    opacity: (0.6);
}
.close-noti{
    width: 2rem;
    /* float: right; */
    
    margin: 1.2rem;
}

.close-noti:hover{
    cursor: pointer;
}

.notification-button{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
}
.notification-button p{
    margin-top: 1rem;
    font-size: 18px;
}

.friend-request{
    margin-top: 0.2rem;
    background: white;
    border: 1px solid greenyellow;
    padding: 0.5rem 2rem;
}
.acc-rej{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.friend-request:hover{
    color: black;
    background-color: greenyellow;
}
.split-request:hover{
    color: white;
    background-color: red;
}

.split-request{
    background: white;
    border: 1px solid rgb(255, 0, 0);
    padding: 0.5rem 2rem;
}


.acc-rej button:hover
{
    cursor: pointer;
    transform: scale(1.1);
    transition: 200ms ease-in-out;   
}


/* ------Nav-Bar------ */
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1%;
    margin-left: 3%;
    max-width: 100%;
}

.website-user{
    height: 70px;
    width: 70px;

    border-radius: 50%;
    object-fit: cover;
}

.website-logo{
    width: 15%;
    margin-left: 13%;
}

.action-nav-bar{
    display: flex;
    width: 25%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.qr-scan-nav{
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    background-color: #0066ff;
    color: white;
    border-color: #0066ff;
}
.qr-scan-nav:hover{
    background:#0066ff;
    transform: scale(1.1);
    transition: 0.2s ease-in-out all;
}

.menu-icon{
    width: 2.5vw;
}

.hamburger-menu{
    position: absolute;
    float:right;
    width: 100%;
    height: 100vh;
    z-index: 2;
    background-color: #000;
    opacity: 1;
    top: -100vh;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* display: none; */
    transition: 1s ease-in-out;
}
.hamburger-menu ul li{
    list-style: none;
    margin:  35px 0px;
}
.hamburger-menu ul li a{
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    padding: 10px;
    letter-spacing: 5px;
    font-family: 'Lato', sans-serif;
    position: relative;
}

.hamburger-menu ul li a::after{
    content:' ';
    height: 2px;
    width: 0%;
    background: rgb(199, 255, 130);
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.5s ease-in-out all;
}
.hamburger-menu ul li a:hover:after{
    width: 100%;
}
.close{
    /* height: 5rem; */
    width: 2rem;
    position: absolute;
    right: 80px;
    top: 50px;
    cursor: pointer;
}


/* -------Feature-Section-------- */

.feature{
    background-color:#eaffff;
    /* margin-top: 2%; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
    height: 65vh;

}

.feature img{
    width: 40%;
    display: flex;
    align-items: center;
}
/* -------Botton------- */
.feature-button{
    left: 10%;
    margin-left: 3%;
    margin-right: 4%;
    margin-top: 3%;
    
}

.split-bill{
    /* margin-left: 15rem; */
    width: 25rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: blue;
    /* box-shadow: 0px 0px 10px rgb(30, 30, 88); */
    color: white;
    border-radius: 50px;
    font-size: 30px; 
    transition: 0.2s ease-in-out all;
    animation: fromLeft 1s ease-in-out 1 alternate;
}

.split-bill:hover{
    background: white;
    color: black;
    border: 2px solid blue;
    cursor: pointer;
    transform: scale(1.2);
     
}

@keyframes fromLeft{
    from {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
      }
    
      50% {
        opacity: 1;
      }
}

.restaurant{
    /* margin-left: 15rem; */
    margin-top: 2rem;
    width: 25rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #000;
    border: 2px solid yellow;
    box-shadow: 0px 0px 10px #636363;
    border-radius: 50px;
    font-size: 30px; 
    transition: 0.2s ease-in-out; 
    animation: fromLeft 0.3s ease-in-out 1 alternate;   
}

.restaurant:hover{
    background:yellow;
    color: black;
    cursor: pointer;   
    transform: scale(1.2);
}

.add-friend{
    /* margin-left: 15rem; */
    margin-top: 2rem;
    width: 25rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #000;
    border: 2px solid red;
    box-shadow: 0px 0px 10px #636363;
    border-radius: 50px;
    font-size: 30px; 
    transition: 0.2s ease-in-out;
    animation: fromLeft 0.4s ease-in-out 1 alternate;
}
.add-friend:hover{
    background:red;
    color: white;
    cursor: pointer; 
    transform: scale(1.2);
}
/* -----------Welcome-------- */

.welcome{
    /* margin-top: 5%; */
    margin-left: 3%;
    margin-right: 3%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    letter-spacing: 3px;
}

.welcome-text{
    font-size: 30px;
    width: 900px;
    /* font-weight: 10000; */
    font-family: 'Montserrat', sans-serif;
    /* border: 1px solid black; */
    animation: fadeIn 0.5s ease-in-out 1 alternate;
    animation-delay: 0s;
}

.welcome-text span{
    color: red;
    text-decoration: underline;
}

.welcome-img img{
    /* left: 90%; */
    width: 35vw;
}

.function{
    /* margin-top: 4%; */
    background-color:#eaffff;
    height: 22vh;
    /* margin-bottom:; */
}

.fun-icons{
    /* margin-top: 5%; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 5%;
    flex-wrap: wrap;
}
.fun-icons a{
    text-decoration: none;
    color: #000;
}
.fun-icon-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
}
.fun-icon-1 img{
    min-width: 4vw;
}
.fun-icon-1 p{
    margin-top: 1rem;
    font-size: 22px;
    
}
.fun-icon-1:hover{
    transform: scale(1.1);
    transition: 0.2s ease-in-out all;
}
.fun-icon-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
}
.fun-icon-2 img{
    min-width: 4vw;
}
.fun-icon-2 p{
    margin-top: 1rem;
    font-size: 22px;
}
.fun-icon-2:hover{
    transform: scale(1.1);
    transition: 0.2s ease-in-out all;
}
.fun-icon-3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
}
.fun-icon-3 img{
    min-width: 4vw;
}
.fun-icon-3 p{
    margin-top: 1rem;
    font-size: 22px;
}
.fun-icon-3:hover{
    transform: scale(1.1);
    transition: 0.2s ease-in-out all;
}
.fun-icon-4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
}
.fun-icon-4 img{
    min-width: 4vw;
}
.fun-icon-4 p{
    margin-top: 1rem;
    font-size: 22px;
}
.fun-icon-4:hover{
    transform: scale(1.1);
    transition: 0.2s ease-in-out all;
}
.fun-icon-5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
}
.fun-icon-5 img{
    min-width: 4vw;
}
.fun-icon-5 p{
    margin-top: 1rem;
    font-size: 22px;
}
.fun-icon-5:hover{
    transform: scale(1.1);
    transition: 0.2s ease-in-out all;
}
/* -------Carousel------ */
.carousel-item{
    height: 35rem !important;
    background: #777;
    color: white;
    position: relative;
}

.carousel-container{
    position: absolute;
    left: 10%;
    right: 0;
    bottom: 0;
    padding-bottom: 50px;
    width: 50rem;
}




@media (max-width:600px){
    footer{
        flex-direction: column;
    }
    footer div{
        margin: 20px 10px;
    }
    footer .about{
        max-width: 90% !important;
    }
}


footer{
    background-color: rgb(34, 33, 33);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: #bbbbbb;
    padding: 20px 12px;
    font-family: sans-serif;
}
footer h2{
    font-weight: 500;
    color: white;

}
footer .about{
    max-width: 220px;
}
footer .about p{
    margin: 10px 12px;
}
footer .Pages a{
    text-decoration: none;
    color: #bbbbbb;
}
footer a:hover{
    color: white !important;
    
    
}
footer li:hover{
    transform: translateX(8px);
    transition: 200ms ease-in-out;
}
footer .connect i{
    color: #0077b5;
    margin: 12px 8px;
}
footer .Pages ul{
    list-style-type: none;
    margin: 8px 0;
    /* margin-left: 20px; */

}
footer .Pages li{
    font-size: 18px;
    padding: 5px 12px;
}
footer .connect i{
    font-size: 2rem;
}


@media screen and (max-width:801px){

    .nav-bar{
        /* margin: 0 !important; */
        display: flex;
        justify-content: space-between;
    }
    
    
    .web-logo img{
        
        width: 33vw;
        height: 8vh;
    }
    
    .nav-button{
        display: none;
        margin-left: 10rem;
    }
    
    .menu img{
        width: 2rem;
        /* margin-left: 4rem; */
        cursor: pointer;
        transition: 0.4s ease-in-out;  
    }

/* ------Welcome----- */
.welcome p{
    font-size: 25px;
}
.feature{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 40vh;
}
.feature-button{
    left: 0%;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
    
}

.split-bill{
    /* margin-left: 15rem; */
    width: 10rem;
    height: 3rem;
    font-size: 15px; 
    display: flex;
    justify-content: center;
    align-items: center;
    background: blue;
    box-shadow: 0px 0px 10px rgb(30, 30, 88);
    color: white;
    border-radius: 50px;
 
    transition: 0.2s ease-in-out all;
    animation: fromLeft 1s ease-in-out 1 alternate;
}

.split-bill:hover{
    background-color: rgb(24, 36, 75);
    cursor: pointer;
    transform: scale(1.2);
     
}
.restaurant{
    /* margin-left: 15rem; */
    margin-top: 2rem;
    width: 10rem;
    height: 3rem;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #000;
    border: 1px solid yellow;
    box-shadow: 0px 0px 10px #636363;
    border-radius: 50px; 
    transition: 0.2s ease-in-out; 
    animation: fromLeft 0.3s ease-in-out 1 alternate;   
}

.restaurant:hover{
    background:yellow;
    color: black;
    cursor: pointer;   
    transform: scale(1.2);
}

.add-friend{
    /* margin-left: 15rem; */
    margin-top: 2rem;
    width: 10rem;
    height: 3rem;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #000;
    border: 1px solid red;
    box-shadow: 0px 0px 10px #636363;
    border-radius: 50px; 
    transition: 0.2s ease-in-out;
    animation: fromLeft 0.4s ease-in-out 1 alternate;
}
.add-friend:hover{
    background:red;
    color: white;
    cursor: pointer; 
    transform: scale(1.2);
}
.carousel-item{
    height: 25rem !important;
    background: #777;
    color: white;
    position: relative;
}

.carousel-container{
    position: absolute;
    left: 10%;
    right: 0;
    bottom: 0;
    padding-bottom: 50px;
    width: 50rem;
}
}

@media screen and (max-width: 580px){
    .nav-bar{
        /* margin: 0 !important; */
        display: flex;
        justify-content: space-between;
    }
    
    
    .web-logo img{
        
        width: 33vw;
        height: 8vh;
    }
    
    .nav-button{
        display: none;
        margin-left: 10rem;
    }
    
    .menu img{
        width: 2rem;
        /* margin-left: 4rem; */
        cursor: pointer;
        transition: 0.4s ease-in-out;  
    }
/* ------Welcome----- */
.welcome p{
    font-size: 15px;
}
.feature{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 25vh;
}
.feature-img img{
    min-width: 55vw;
}
.feature-button{
    left: 0%;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
    
}

.split-bill{
    /* margin-left: 15rem; */
    width: 7rem;
    height: 2rem;
    font-size: 10px; 
    display: flex;
    justify-content: center;
    align-items: center;
    background: blue;
    box-shadow: 0px 0px 10px rgb(30, 30, 88);
    color: white;
    border-radius: 50px;
 
    transition: 0.2s ease-in-out all;
    animation: fromLeft 1s ease-in-out 1 alternate;
}

.split-bill:hover{
    background-color: rgb(24, 36, 75);
    cursor: pointer;
    transform: scale(1.2);
     
}
.restaurant{
    /* margin-left: 15rem; */
    margin-top: 2rem;
    width: 7rem;
    height: 2rem;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #000;
    border: 1px solid yellow;
    box-shadow: 0px 0px 10px #636363;
    border-radius: 50px; 
    transition: 0.2s ease-in-out; 
    animation: fromLeft 0.3s ease-in-out 1 alternate;   
}

.restaurant:hover{
    background:yellow;
    color: black;
    cursor: pointer;   
    transform: scale(1.2);
}

.add-friend{
    /* margin-left: 15rem; */
    margin-top: 2rem;
    width: 7rem;
    height: 2rem;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #000;
    border: 1px solid red;
    box-shadow: 0px 0px 10px #636363;
    border-radius: 50px; 
    transition: 0.2s ease-in-out;
    animation: fromLeft 0.4s ease-in-out 1 alternate;
}
.add-friend:hover{
    background:red;
    color: white;
    cursor: pointer; 
    transform: scale(1.2);
}

/* -----fuction----- */
.function{
    height: 15vh;
}
.function img{
    width: 3rem;
}

.function p{
    font-size: 15px;
}

/* ----carousel------ */
.carousel-item{
    height: 17rem !important;
    background: #777;
    color: white;
    position: relative;
}

.carousel-container{
    position: absolute;
    left: 10%;
    right: 0;
    bottom: 0;
    padding-bottom: 50px;
    width: 50rem;
}
}

@media screen and (max-width: 380px){
    .web-logo img{
        
        min-width: 30vw;
        min-height: 1vh;
    }
    
    .nav-button{
        display: none;
        margin-left: 10rem;
    }
    
    .menu img{
        width: 2rem;
        /* margin-left: 4rem; */
        cursor: pointer;
        font-weight: bolder;
        transition: 0.4s ease-in-out;  
    }
    /* ------Welcome----- */
.welcome p{
    font-size: 10px;
    letter-spacing: 2px;
}
.feature{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 28vh;
}
.feature img{
    min-width: 50vw;
}
.feature-button{
    left: 0%;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
    
}

.split-bill{
    /* margin-left: 15rem; */
    width: 5rem;
    height: 1.5rem;
    font-size: 10px; 
    display: flex;
    justify-content: center;
    align-items: center;
    background: blue;
    box-shadow: 0px 0px 10px rgb(30, 30, 88);
    color: white;
    border-radius: 50px;
 
    transition: 0.2s ease-in-out all;
    animation: fromLeft 1s ease-in-out 1 alternate;
}

.split-bill:hover{
    background-color: rgb(24, 36, 75);
    cursor: pointer;
    transform: scale(1.2);
     
}
.restaurant{
    /* margin-left: 15rem; */
    margin-top: 2rem;
    width: 5rem;
    height: 1.5rem;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #000;
    border: 1px solid yellow;
    box-shadow: 0px 0px 10px #636363;
    border-radius: 50px; 
    transition: 0.2s ease-in-out; 
    animation: fromLeft 0.3s ease-in-out 1 alternate;   
}

.restaurant:hover{
    background:yellow;
    color: black;
    cursor: pointer;   
    transform: scale(1.2);
}

.add-friend{
    /* margin-left: 15rem; */
    margin-top: 2rem;
    width: 5rem;
    height: 1.5rem;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #000;
    border: 1px solid red;
    box-shadow: 0px 0px 10px #636363;
    border-radius: 50px; 
    transition: 0.2s ease-in-out;
    animation: fromLeft 0.4s ease-in-out 1 alternate;
}
.add-friend:hover{
    background:red;
    color: white;
    cursor: pointer; 
    transform: scale(1.2);
}

/* -----fuction----- */
.function{
    height: 15vh;
}
.function img{
    width: 2rem;
}

.function p{
    font-size: 12px;
}

/* ----carousel------ */
.carousel-item{
    height: 15rem !important;
    background: #777;
    color: white;
    position: relative;
}

.carousel-container{
    position: absolute;
    left: 10%;
    right: 0;
    bottom: 0;
    padding-bottom: 50px;
    width: 50rem;
}
}
@media screen and (max-width:801px){
    nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 2%;
        margin-left: 3%;
        max-width: 100%;
    }
    
    .website-user{
        width: 8%;
        display: none;
    }
    
    .website-logo{
        width: 25%;
        margin-left: 0%;
    }
    
    .action-nav-bar{
        display: flex;
        width: 25%;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .qr-scan-nav{
        margin-left: 0%;
        min-width: 20%;
        color: #fff;
        background: #0d6efd;
        border: 1px solid #0d6efd;
        border-radius: 2px;
        font-size: 10px;
    }
    .qr-scan-nav:hover{
        background:#012458;
        transform: scale(1.2);
        transition: 0.2s ease-in-out all;
    }
    
    .menu-icon{
        margin-left: 3%;
        width: 2rem;
        transition: 0.2s ease-in-out all;
    }
}

@media screen and (max-width:614px){

    /* ------Nav-Bar------ */
    /*Header*/
    
    
    nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 1%;
        margin-left: 3%;
        max-width: 100%;
    }
    
    .website-user{
        width: 6%;
        display: none;
    }
    
    .website-logo{
        width: 25%;
        /* margin-left: 13%; */
    }
    
    .action-nav-bar{
        display: flex;
        width: 25%;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .qr-scan-nav{
        display: none;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        background-color: transparent;
        border: 1px solid transparent;
            border-top-color: transparent;
            border-right-color: transparent;
            border-bottom-color: transparent;
            border-left-color: transparent;
        padding: .375rem .75rem;
        font-size: 1rem;
        border-radius: .25rem;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        background-color: #0066ff;
        color: white;
        border-color: #0066ff;
    }
    .qr-scan-nav:hover{
        background:#0066ff;
        transform: scale(1.1);
        transition: 0.2s ease-in-out all;
    }
    
    .menu-icon{
        width: 20%;
    }
    
    .hamburger-menu{
        position: absolute;
        float:right;
        width: 100%;
        height: 100vh;
        z-index: 2;
        background-color: #000;
        opacity: 1;
        top: -100vh;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        /* display: none; */
        transition: 1s ease-in-out;
    }
    .hamburger-menu ul li{
        list-style: none;
        margin:  35px 0px;
    }
    .hamburger-menu ul li a{
        text-decoration: none;
        font-size: 20px;
        color: #fff;
        padding: 10px;
        letter-spacing: 5px;
        font-family: 'Lato', sans-serif;
        position: relative;
    }
    
    .hamburger-menu ul li a::after{
        content:' ';
        height: 2px;
        width: 0%;
        background: rgb(199, 255, 130);
        position: absolute;
        left: 0;
        bottom: 0;
        transition: 0.5s ease-in-out all;
    }
    .hamburger-menu ul li a:hover:after{
        width: 100%;
    }
    .close{
        /* height: 5rem; */
        width: 2rem;
        position: absolute;
        right: 80px;
        top: 50px;
        cursor: pointer;
    }
}    

@media screen and (max-width:480px){

    /* ------Nav-Bar------ */
    /*Header*/
    
    
    nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 1%;
        margin-left: 3%;
        max-width: 100%;
    }
    
    .website-user{
        width: 6%;
        display: none;
    }
    
    .website-logo{
        width: 25%;
        /* margin-left: 13%; */
    }
    
    .action-nav-bar{
        display: flex;
        width: 25%;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .qr-scan-nav{
        display: none;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        background-color: transparent;
        border: 1px solid transparent;
            border-top-color: transparent;
            border-right-color: transparent;
            border-bottom-color: transparent;
            border-left-color: transparent;
        padding: .375rem .75rem;
        font-size: 1rem;
        border-radius: .25rem;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        background-color: #0066ff;
        color: white;
        border-color: #0066ff;
    }
    .qr-scan-nav:hover{
        background:#0066ff;
        transform: scale(1.1);
        transition: 0.2s ease-in-out all;
    }
    
    .menu-icon{
        width: 20%;
    }
    
    .hamburger-menu{
        position: absolute;
        float:right;
        width: 100%;
        height: 100vh;
        z-index: 2;
        background-color: #000;
        opacity: 1;
        top: -100vh;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        /* display: none; */
        transition: 1s ease-in-out;
    }
    .hamburger-menu ul li{
        list-style: none;
        margin:  35px 0px;
    }
    .hamburger-menu ul li a{
        text-decoration: none;
        font-size: 20px;
        color: #fff;
        padding: 10px;
        letter-spacing: 5px;
        font-family: 'Lato', sans-serif;
        position: relative;
    }
    
    .hamburger-menu ul li a::after{
        content:' ';
        height: 2px;
        width: 0%;
        background: rgb(199, 255, 130);
        position: absolute;
        left: 0;
        bottom: 0;
        transition: 0.5s ease-in-out all;
    }
    .hamburger-menu ul li a:hover:after{
        width: 100%;
    }
    .close{
        /* height: 5rem; */
        width: 2rem;
        position: absolute;
        right: 80px;
        top: 50px;
        cursor: pointer;
    }
}    