*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1%;
    margin-left: 3%;
    max-width: 100%;
}

.website-user{
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;

}

.website-logo{
    width: 10%;
    margin-left: 13%;
}

.website-logo img{
    width: 150%;
}

.action-nav-bar{
    display: flex;
    width: 25%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.qr-scan-nav{
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    background-color: #0066ff;
    color: white;
    border-color: #0066ff;
}
.qr-scan-nav:hover{
    background:#0066ff;
    transform: scale(1.1);
    transition: 0.2s ease-in-out all;
}

.menu-icon{
    width: 2.5vw;
}

.hamburger-menu{
    position: absolute;
    float:right;
    width: 100%;
    height: 100vh;
    z-index: 2;
    background-color: #000;
    opacity: 1;
    top: -100vh;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* display: none; */
    transition: 1s ease-in-out;
}
.hamburger-menu ul li{
    list-style: none;
    margin:  35px 0px;
}
.hamburger-menu ul li a{
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    padding: 10px;
    letter-spacing: 5px;
    font-family: 'Lato', sans-serif;
    position: relative;
}

.hamburger-menu ul li a::after{
    content:' ';
    height: 2px;
    width: 0%;
    background: rgb(199, 255, 130);
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.5s ease-in-out all;
}
.hamburger-menu ul li a:hover:after{
    width: 100%;
}
.close{
    /* height: 5rem; */
    width: 2rem;
    position: absolute;
    right: 80px;
    top: 50px;
    cursor: pointer;
}

@media screen and (max-width:480px){
        
    nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 1%;
        margin-left: 3%;
        max-width: 100%;
    }
    
    .website-user{
        width: 6%;
        display: none;
    }
    
    .website-logo{
        width: 25%;
        /* margin-left: 13%; */
    }
    
    .action-nav-bar{
        display: flex;
        width: 25%;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .qr-scan-nav{
        display: none;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        background-color: transparent;
        border: 1px solid transparent;
            border-top-color: transparent;
            border-right-color: transparent;
            border-bottom-color: transparent;
            border-left-color: transparent;
        padding: .375rem .75rem;
        font-size: 1rem;
        border-radius: .25rem;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        background-color: #0066ff;
        color: white;
        border-color: #0066ff;
    }
    .qr-scan-nav:hover{
        background:#0066ff;
        transform: scale(1.1);
        transition: 0.2s ease-in-out all;
    }
    
    .menu-icon{
        width: 20%;
    }
    
    .hamburger-menu{
        position: absolute;
        float:right;
        width: 100%;
        height: 100vh;
        z-index: 2;
        background-color: #000;
        opacity: 1;
        top: -100vh;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        /* display: none; */
        transition: 1s ease-in-out;
    }
    .hamburger-menu ul li{
        list-style: none;
        margin:  35px 0px;
    }
    .hamburger-menu ul li a{
        text-decoration: none;
        font-size: 20px;
        color: #fff;
        padding: 10px;
        letter-spacing: 5px;
        font-family: 'Lato', sans-serif;
        position: relative;
    }
    
    .hamburger-menu ul li a::after{
        content:' ';
        height: 2px;
        width: 0%;
        background: rgb(199, 255, 130);
        position: absolute;
        left: 0;
        bottom: 0;
        transition: 0.5s ease-in-out all;
    }
    .hamburger-menu ul li a:hover:after{
        width: 100%;
    }
    .close{
        /* height: 5rem; */
        width: 2rem;
        position: absolute;
        right: 80px;
        top: 50px;
        cursor: pointer;
    }
    
    
}




.main .edit-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 22px;
}
.main .edit-nav button{
    padding: 8px;
    border: none;
    background-color: transparent;
    font-size: 18px;
    width: 140px;
    cursor: pointer;

}
.main #back{
    color: blue;
}
.main #edit{
    background-color: blue;
    color: white !important;
    
    border-radius: 24px;
}
.main i{
    margin: 0 6px;
}

.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 30px ;
}

.profile .user-img img{
    border-radius: 50%;
    height: 150px;
    width: auto;
}

.profile .user-info table td input{
    padding: 8px;
    border: 1px solid black;
    background-color: white;
    font-size: 18px;
    border-radius: 24px;
}
.profile .user-info table{
    
    width: 490px;
    color: black;
    border-collapse: collapse;
    text-align: center;

}
@media (max-width:600px){
    .profile .user-info table{
        width: 340px;
    }
    .main .edit-nav button{
        width: 108px;
    }

}
.tb-left{
    color: gray;
}
td{
   
    padding: 12px;
    font-size: 22px;
}














@media (max-width:600px){
    footer{
        flex-direction: column;
    }
    footer div{
        margin: 20px 10px;
    }
    footer .about{
        max-width: 90% !important;
    }
    .main .edit-nav{
        padding: 8px 10px;
    }
    .profile .user-info table td input{
        width: 100%;
    }
}



footer{
    background-color: rgb(34, 33, 33);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: #bbbbbb;
    padding: 20px 12px;
    font-family: sans-serif;
}
footer h2{
    font-weight: 500;
    color: white;

}
footer .about{
    max-width: 220px;
}
footer .about p{
    margin: 10px 12px;
}
footer .Pages a{
    text-decoration: none;
    color: #bbbbbb;
}
footer a:hover{
    color: white !important;
    
    
}
footer li:hover{
    transform: translateX(8px);
    transition: 200ms ease-in-out;
}
footer .connect i{
    color: #0077b5;
    margin: 12px 8px;
}
footer .Pages ul{
    list-style-type: none;
    margin: 8px 0;
    /* margin-left: 20px; */

}
footer .Pages li{
    font-size: 18px;
    padding: 5px 12px;
}
footer .connect i{
    font-size: 2rem;
}
